{% extends 'mailing/base.html' %}

{% block title %}Рассылка{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Рассылка</h1>
            <p class="lead"></p>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Дата первой
                                отправки: {{ object.start_time }}</strong>
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Дата окончания
                                отправки: {{ object.end_time }}</strong>
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Статус
                                рассылки: {{ object.status }}</strong>
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Сообщение: {{ object.message }}</strong>
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Получатель: {{ object.owner }}</strong>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <a class="btn btn-primary" href="{% url 'mailing:campaign_list' %}" role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
