{% extends 'mailing/base.html' %}

{% block title %}Пароль успешно изменен{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h2 class="text-center">Пароль успешно изменен</h2>
            <p>Теперь вы можете войти с новым паролем.</p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'users:login' %}" role="button">Перейти ко входу</a>
        </div>
        <div class="col-3">
        </div>
    </div>
{% endblock %}