{% extends 'mailing/base.html' %}

{% block title %}Новый пароль{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h2 class="text-center">Новый пароль</h2>
            <p>Придумайте новый пароль для вашей учётной записи</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary btn-sm">Сохранить пароль</button>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'users:login' %}" role="button">Перейти ко
                    входу</a>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
{% endblock %}